<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2><%= title %></h2>
            <% if(typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    Terdapat errors
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            <form method="post" action="/contact/update">
                <div class="mb-3">
                    <label for="nama">Nama</label>
                    <input type="text" class="form-control" id="oldnama" name="oldNama" value="<%= contact.oldNama ? contact.oldNama : contact.nama    %>" hidden>
                    <input type="text" class="form-control" id="nama" name="nama" value="<%= contact.nama %>" required>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= contact.email  %>" required>
                </div>
                <div class="mb-3">
                    <label for="email">No HP</label>
                    <input type="text" class="form-control" id="nohp" name="noHP" value="<%= contact.noHP  %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Ubah Contact</button>
                <a class="btn btn-primary text-white" href="/contact">Batal</a>
            </form>
        </div>
    </div>
</div>